* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #152b3b;
    color: #ddd;
}

header {
    background-color: #27404f;
    padding: 2rem;
    height: 10rem;
    display: flex;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.home_link {
    font-size: 1.2rem;
    font-weight: 600;
}
a {
    color: #fff;
}

.homepage__main, .main__browse {
    padding: 5rem;
}
h1 {
    font-size: 2.5rem;
}

.songs-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.songs-container ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.song {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.song_text {
    padding: .5rem;
    background-color: #27404f;
    border-radius: .3rem;
}
a img {
    width: 1.2rem;
}
.burger {
    width: 1.5rem;
}

.main__browse {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.main__browse .filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.filters_list {
    display: flex;
    gap: .75rem;
}

.filters_list li a {
    padding: .5rem;
    background-color: #775;
    border-radius: .3rem;
}

.mixes_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.mixes_container div{
    background-color: #27404f;
    padding: 1rem;
    border-radius: .3rem;
    text-align: center;
}
.mixes_container img {
    width: 10rem;
}
.btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn img {
    width: 1.2rem;
}

.form_new, .form_edit {
    padding: 2rem;
}
#album {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;;
}
#album div{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
#album input, .form_new .btn, .form_edit .btn, #album select{
    padding: .35rem;
    background-color: #cc9;
    border: none;
    border-radius: .3rem;
    outline: none;
}
.form_edit .btn, .form_new .btn {
    background-color: #94a6b2;
    /* background-color: #27404f; */
    color: #000;
    padding: .5rem;
}